<br>
<br>

<h1 style="color:blue;">Conta algo!</h1>


<form onsubmit="return addMsj()" >
  <div class="form-group d-flex">
    <input style="    border-radius: 20px;
    " type="text"class="form-control col-md-6" id="textoo" placeholder="Cuéntanos algo..." required  > <br>
    <button style="
    margin-left: 10px;
    border-radius: 10px;
" class="btn btn-primary" >Enviar Mensaje</button>
    </div>
  </form>

  <h1>Mensajes</h1>

    <div id="messages"></div>
    <br>
    <div id="messagesDeUsers"></div>