<div class="izquierda">
<h1>Hola! <%=usuario%></h1>
<div class="btnIzquierda" style="
display: grid;
justify-content: right;
margin-top: -100px;
">
<form action="/salirse" method="get">
<button class="btn btn-primary">Salir</button>
</form>
</div>



<p id="messages"></p>
</div>